{% extends "base.html" %} {% load static %} {% block title %}Mon Etab - Tableau
de Bord{% endblock title %} 

{% block script %}
<!-- Inclusion de Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Inclusion du script personnalisé -->
<script type="text/javascript" src="{% static 'dashboard/js/dashboard.js' %}" defer></script>
{% endblock script %}

{% block content %}
<!-- Main Content -->
<div class="flex-1 p-6">
   <h1 class="mb-6 text-2xl font-semibold">Tableau de bord</h1>
   <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      <!-- Stat Box 1 -->
      <div class="p-6 bg-white rounded-lg shadow">
         <h3 class="mb-4 text-lg font-bold text-black">Nombre d'élève</h3>
         <p class="p-20 text-4xl font-bold text-center">({{totalstudent}})</p>
      </div>
      <!-- Stat Box 2 -->
      <div class="p-6 bg-white rounded-lg shadow">
         <h3 class="mb-4 text-lg font-bold text-black">Nombre de professeur</h3>
         <p class="p-20 text-4xl font-bold text-center">({{totalteacher}})</p>
      </div>
      <!-- Stat Box 3 -->
      <div class="p-6 bg-white rounded-lg shadow">
         <h3 class="mb-4 text-lg font-bold text-black">Nombre d'utilisateur</h3>
         <p class="p-20 text-4xl font-bold text-center">({{totaluser}})</p>
      </div>
      <!-- Stat Box 4 (Pie Chart) -->
      <div class="flex flex-col items-center p-6 bg-white rounded-lg shadow">
         <h3 class="mb-4 text-lg font-bold text-left text-black">
            Élève par genre
         </h3>
         <div class="relative w-full h-64">
            <canvas id="pieChart"></canvas>
         </div>
         <div class="mt-4">
            <ul class="grid grid-cols-2 gap-2">
               <li class="flex items-center mb-2">
                  <span class="inline-block w-4 h-4 mr-2 bg-blue-500"></span>
                  Homme
               </li>
               <li class="flex items-center mb-2">
                  <span class="inline-block w-4 h-4 mr-2 bg-red-500"></span>
                  Femme
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
{% endblock %}
