{% load static %}
<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://cdn.tailwindcss.com"></script>
      <title>Login page</title>
   </head>
   <body class="bg-black h-screen flex items-center justify-center">
      <div class="w-full max-w-md p-6 bg-gray-200 rounded-2xl">
         <div class="flex items-center justify-center mb-8">
            <img
               src="{% static 'images/logo.png' %}"
               alt="logo du site"
               width="50px"
               height="50px"
               class="mr-3"
            />
            <h2 class="text-3xl font-semibold">Mon Etab</h2>
         </div>
         <form
               method="post"
               class="text-center text-xl font-bold grid w-full mx-auto"
            >
               {% csrf_token %} {% if error %}
               <p class="text-red-500">{{ error }}</p>
               {% endif %}
               <input
                  class="w-[90%] mx-auto p-2 border-4 border-solid border-black placeholder-bold placeholder-text-black"
                  type="text"
                  name="username"
                  placeholder="Identifiant"
                  required
               />
               <input
                  class="w-[90%] mx-auto p-2 mt-5 border-4 border-solid border-black placeholder-bold placeholder-text-black"
                  type="password"
                  name="password"
                  placeholder="Mot de passe"
                  required
               />
               <button
                  type="submit"
                  class="w-[90%] mx-auto shadow-2xl shadow-black my-10 bg-blue-500 text-white font-bold hover:bg-blue-700 p-4"
               >
                  Connexion
               </button>
            </form>

      </div>
   </body>
</html>
